ul {
    list-style-type: none;
}

li {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.firebaseui-idp-button {
    display: flex;
    align-items: center;
    height: 50px;
    width: 200px;
    padding: 0 12px;
    border: none;
    border-radius: 4px;
}

.firebaseui-idp-button:active, .firebaseui-button:active {
    outline: none;
}

.firebaseui-idp-icon {
    height: 30px;
    margin-right: 20px;
}

.firebaseui-idp-text-short {
    display: none;
}

.firebaseui-card-header {
    text-align: center;
}

.firebaseui-relative-wrapper {
    margin-bottom: 20px;
}

.firebaseui-textfield {
    display: flex;

}

.firebaseui-label {
    margin-right: 20px;
}

.firebaseui-form-actions {
    justify-content: center;
    display: flex;
}

.firebaseui-button {
    width: 70px;
    margin: 5px 10px;
}

.firebaseui-card-footer {
    display: none;
}

.firebaseui-button.firebaseui-id-submit {
    width: 200px;
    border: none;
    border-radius: 4px;
}