h1.profile-header {
    display: flex;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
}

#username-input {
    font-size: 16px;
    line-height: 19px;
    padding-top: 20px;
    padding-left: 16px;
    padding-bottom: 22px;
    color: white;
    background: rgba(0, 0, 0, 0);
    border: 2px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 6px;
}

label {
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.8);
}

input {
    margin-top: 6px;
    margin-bottom: 36px;
}

.save-btn {
    align-self: flex-end;
}